<configuration debug="true">
    <springProperty scope="context" name="APP_NAME" source="spring.application.name"/>
    <springProperty scope="context" name="KAFKA_HOST" source="kafka.host"/>

    <appender name="QLogbackAppender" class="in.quallit.qlog.logbackappender.QLogbackAppender">
        <bootstrapServers>${KAFKA_HOST}</bootstrapServers>
        <appName>${APP_NAME}</appName>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Important: Adjust logging for Kafka clients, and they should not use custom logback appender -->
    <logger name="org.apache.kafka" level="warn" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="info">
        <appender-ref ref="QLogbackAppender" />
        <appender-ref ref="STDOUT" />
    </root>

</configuration>