<?xml version="1.0" encoding="UTF-8"?>
 <Configuration status="INFO" packages="in.quallit.qlog">
    <Properties>
        <property name="KAFKA_HOST">${bundle:application:kafka.host}</property>
        <property name="APP_NAME">${bundle:application:spring.application.name}</property>
    </Properties>
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n"/>
        </Console>
         <Log4jAppender name="Log4jAppender" bootstrapServers="${KAFKA_HOST}" appName="${APP_NAME}" />
    </Appenders>

    <Loggers>
        <!-- Important: Adjust logging for Kafka clients, and they should not use custom log4j appender -->
        <Logger name="org.apache.kafka" level="info" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="Log4jAppender" />
        </Root>
    </Loggers>
</Configuration>