node_modules/
.node_modules/
**/.DS_Store
.settings
**/.vs
**/.vscode/*
!**/.vscode/settings.json
!**/.vscode/launch.json
.idea
yarn.lock
yarn-error.log
package-lock.json
.eslintcache
dist/
*.log
.*-audit.json